# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.iml
*.swp

# Temporary / backup files
*.tmp
*.bak
*~

# Environment & Secret variables
.env
*.env

# Python Virtual Environments
.venv/
venv/
env/

# Database
*.sqlite3
db.sqlite3

# Python Bytecode & Caches
__pycache__/
*.py[cod]
*$py.class

# Django / Local Media & Static
local_settings.py
staticfiles/
media/